body {
  font-family: Montserrat, sans-serif;
  color: white;
  background-color: black;
  margin:0;
  padding:0;
}

table.mystyle th {
  text-align: center;
  padding: 8px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  transform: rotate(0deg);
  background-color: blue;
  color: yellow;
  text-decoration: underline;
  cursor: help;
  position: relative;
}

th:hover .explanation {
  display: block;
}

table.mystyle td {
  text-align: center;
}

.explanation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
  z-index: 1;
  font-size: 12px;
  line-height: 1.5;
  min-width: 100px;
}

.blue {   background: blue; }
.red {   background: red; }
.green {   background: green; }
.orange {   background: orange; }
.white {   background: white; }
.black { background: black; }
.url { color: black ; background-color: white }


a:link {
    color: white;
}

a:visited {
    color: yellow;
}

a.check:link,
a.check:visited {
    color: inherit;
}

table.mystyle td:first-child {
    text-align: left;
    padding-right: 4px;
}
