body {
  font-family: Montserrat, sans-serif;
  color: white;
  background-color: black;
  margin:0;
  padding:0;
}


table.mystyle th {
  text-align: center;
  padding: 8px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  transform: rotate(0deg);
  background-color: blue;
  color: yellow;
}

table.mystyle td {
  text-align: center;
}

.blue {   background: blue; }
.red {   background: red; }
.green {   background: green; }
.orange {   background: orange; }
.url { color: black ; background-color: white }

table.mystyle td:first-child {
    text-align: left;
    padding-right: 4px;
}
